/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

.btn-updated {
  background-color:#53616C;
  border-color:#53616C;
  font-family: monospace;
}

.ui-dialog {
    font-size: small;
    background-color: beige;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myPopup {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(242, 237, 237);
    border: 1px solid black;
    padding: 20px;
    z-index: 1;
}

.login {
  color: #924848;
  font-family: Poppins;
  text-shadow: 0 0 black;
  border-radius: 30px;
  font-size: 20px;
}

.login-border-box {
    box-sizing: border-box;
    position: absolute;
    width: 310px;
    height: 231px;
    left: 48px;
    top: 250px;
    background: #c9d6df;
    border: 1px solid #000000;
    border-radius: 20px;
    padding-top: 45px;
}

.register-border-box {
  box-sizing: border-box;
  position: absolute;
  width: 310px;
  height: 400px;
  left: 48px;
  top: 250px;
  background: #c9d6df;
  border: 1px solid #000000;
  border-radius: 20px;
  padding-top: 80px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* .navbar-collapse {
    background: #C9D6DF;
  }

  .navbar-light {
    background: #C9D6DF;
  }
  bg-light border navbar navbar-expand-md navbar-light
  .navbar {
    background: #C9D6DF
  } */

  /* .nav-link {
    -webkit-text-fill-color: #537fbe;
  } */

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    transform: rotate(-90deg);
  }

  .navbar-toggler {
    border: none;
    font-size: 1.7rem;
  }

  .navbar-toggler:focus {
    box-shadow: 0 0 0 0;
  }

  .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'%3e%3cpath stroke='rgba(58, 72, 85, 2)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .bg-light {
    --bs-bg-opacity: 0;
  }

  .container-fluid {
    background-color: #FFD597;
  }

  body {
    background-color: #FFD597;
  }

  .jokerimg {
    x: 10;
    width: 60px;
    height: 60px;
  }

  .start {
    x: 10;
    width: 50px;
    height: 50px;
  }

  .money {
    width: 30px;
    height: 30;
  }

  .navbar-nav li {
    border-bottom: 1px solid #CDA56A;
  }

  .navbar-nav li a {
    color: #924828;
  }

  .navfont {
    color: #924848;
    font-family: Poppins;
    font-style: bold;
    font-size: 24px;
    line-height: 36px;
    line-height: 100%;
    letter-spacing: 4%;
  }

  .header {
    font-family: Orelega One;
    font-size: 40px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-align: center;
    padding-bottom: 20px;
  }
  
/* for interactivity */
  /* @media screen and (min-width: 80rem) {
    .container {
      margin: 1em 2em;
    }
  } */