{% extends "layout.html" %}

{% block title %}
    Ace Race
{% endblock %}

{% block main %}
    {% if error == 1 %}
        <div>
            Please input a number, no decimal points !
        </div>
    {% endif %}

    {% if status == 1 and playing == 0 %}
        <div class="middle">
        <image src="/static/diamonds.png" class="cards">
        <form action="/acerace" method="post">
            <input name="choice" type="hidden" value="1">
            <input class="form-control mx-auto middle1" id="bet" name="bet" placeholder="HP" type="number" min="1">
            <button class="btn btn-primary btn-updated">Bet</button>
        </form>
        </div>

        <div class="middle">
        <image src="/static/clubs.png" class="cards">
        <form action="/acerace" method="post">
            <input name="choice" type="hidden" value="2">
            <input class="form-control mx-auto middle1" id="bet" name="bet" placeholder="HP" type="number" min="1">
            <button class="btn btn-primary btn-updated">Bet</button>
        </form>
        </div>

        <div class="middle">
        <image src="/static/hearts.png" class="cards">
        <form action="/acerace" method="post">
            <input name="choice" type="hidden" value="3">
            <input class="form-control mx-auto middle1" id="bet" name="bet" placeholder="HP" type="number" min="1">
            <button class="btn btn-primary btn-updated">Bet</button>
        </form>
        </div>

        <div class="middle">
        <image src="/static/spades.png" class="cards">
        <form action="/acerace" method="post">
            <input name="choice" type="hidden" value="4">
            <input class="form-control mx-auto middle1" id="bet" name="bet" placeholder="HP" type="number" min="1">
            <button class="btn btn-primary btn-updated">Bet</button>
        </form>
        </div>
    {% elif session["acerace"] == 2 %}
        Goodluck !
    {% else %}
        Talk to the dealer to join the game !
    {% endif %}


{% endblock %}

{% block footer %}
    <div id="value-container"><img class="img-fluid money" src="/static/money.png"> {{ session["hp"] }} </div>
{% endblock %}