{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    This Shows Photos of the Dealers as well as an option to tip (for lucky draw points lol)
    <div id="dialog-message" title="Tip Status"></div>

    <div>
        Zerrin
    </div>
    <button class="btn btn-primary" onClick="tip(4)">Tip</button>
    <div>
        Stella
    </div>
    <button class="btn btn-primary" onClick="tip(5)">Tip</button>
    <div>
        Ashley
    </div>
    <button class="btn btn-primary" onClick="tip(6)">Tip</button>
    <div>
        Nina
    </div>
    <button class="btn btn-primary" onClick="tip(7)">Tip</button>
    <div>
        Kate
    </div>
    <button class="btn btn-primary" onClick="tip(8)">Tip</button>
    <div>
        Nicholas
    </div>
    <button class="btn btn-primary" onClick="tip(9)">Tip</button>

{% endblock %}