{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    This Shows Photos of the Dealers as well as an option to tip (for lottery points lol)

    <div>
        Zerrin
    </div>
    <button class="btn btn-primary" onclick="openModal('10', 3)">Tip</button>

    <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <div id="modalContent"></div>
        </div>
      </div>
    <div>
        Stella
    </div>
    <button class="btn btn-primary" onclick="openModal('10', 4)">Tip</button>
    <div>
        Ashley
    </div>
    <button class="btn btn-primary" type="submit">Tip</button>
    <div>
        Nina
    </div>
    <button class="btn btn-primary" type="submit">Tip</button>
    <div>
        Kate
    </div>
    <button class="btn btn-primary" type="submit">Tip</button>
    <div>
        Nicholas
    </div>
    <button class="btn btn-primary" type="submit">Tip</button>

{% endblock %}