{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div id="dialog-message" title="Tip Status"></div>
    <div class="header">Tip Dealers</div>
    <div class="row">
        <div class="col-md-6">Zerrin</div>
        <div class="col-md-6 text-end"><button class="btn btn-primary btn-updated" onClick="tip(4)">Tip</button></div>
    </div>
    
    <div class="row">
        <div class="col-md-6">Stella</div>
        <div class="col-md-6 text-end"><button class="btn btn-primary btn-updated" onClick="tip(5)">Tip</button></div>
    </div>
    <div class="row">
        <div class="col-md-6">Ashley</div>
        <div class="col-md-6 text-end"><button class="btn btn-primary btn-updated" onClick="tip(6)">Tip</button></div>
    </div>
    
    <div class="row">
        <div class="col-md-6">Nina</div>
        <div class="col-md-6 text-end"><button class="btn btn-primary btn-updated" onClick="tip(7)">Tip</button></div>
    </div>
    
    <div class="row">
        <div class="col-md-6">Grace</div>
        <div class="col-md-6 text-end"><button class="btn btn-primary btn-updated" onClick="tip(8)">Tip</button></div>
    </div>
    
    <div class="row">
        <div class="col-md-6">Kate</div>
        <div class="col-md-6 text-end"><button class="btn btn-primary btn-updated" onClick="tip(9)">Tip</button></div>
    </div>

    <div class="row">
        <div class="col-md-6">Nicholas</div>
        <div class="col-md-6 text-end"><button class="btn btn-primary btn-updated" onClick="tip(10)">Tip</button></div>
    </div>
    

{% endblock %}

{% block footer %}
    <div id="value-container"> HP: {{ session["hp"] }} </div>
{% endblock %}
