{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
        <div class="middle">
            <img class="img-fluid start" src="/static/card.png">
        </div>

        <div class="homeText">
            <h1>
                <b>Welcome to Poker Night!</b>
            </h1>
            <h2>
                Event Overview
            </h2>
            <p>
                Full House is excited to announce our first Poker Night. This event is an opportunity for our community to come together for a night of entertainment and fundraising in support of our mission. Our goal is to raise funds to help us continue making a positive impact in the lives of those we serve. With a night of fun-filled poker games and activities, we hope to bring together people from all walks of life to contribute to our cause. We are looking forward to welcoming everyone to this exciting event and encourage you to join us for a night of fun and charitable giving.
            </p>
        </div>
        <div class="lol"></div>
{% endblock %}

{% block footer %}
    <div id="value-container"><img class="img-fluid money" src="/static/money.png"> {{ session["hp"] }} </div>
{% endblock %}