{% extends "layout.html" %}

{% block title %}
    Lucky Draw
{% endblock %}

{% block main %}
    Prize Showcase
    {% if session["admin"] == 1 %}
        <form action="/lottery" method="post">
            <input type="hidden" value="1">
            <button>Display Winner</button>
        </form>
    {% endif %}

    {% if winner %}
        <div>
            The winner is {{ winner }}
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
    <div id="value-container"><img class="img-fluid money" src="/static/money.png"> {{ session["hp"] }} </div>
{% endblock %}