<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="/static/card.png" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        <link href="/static/popups.css" rel="stylesheet">
    </head>
    <body style="background-color: #55616B">
        <div class="">
            <img class="img-fluid start" src="/static/card.png">
            <form action="/home" method="get">
                <button class="btn-updated">Enter Here</button>
            </form>
        </div>
    </body>
</html>