{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="table-borderless">
    <table>
    {% for table in tables %}
        <tr>
            <form action="/tables" method="post">
                <td class="text-start col-md-6">Table {{ table["id"] }}</td>
                <td><input name="tableid" type="hidden" value="{{ table["id"] }}">
                <button class="btn btn-primary btn-update" type="submit">Enter</button></td>
              </form>
        </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}