{% extends "layout.html" %}

{% block title %}
    Table 6
{% endblock %}

{% block main %}
    {% if session["dealer"] == 1 %}    
        {% if session["occupied6"] == False or not session["occupied6"] %}
            <div>
                <form action="/table6" method="post">
                    <input name="id" type="hidden" value="{{ session["user_id"] }}">
                    <button type="submit">Check In</button>
                </form>
            </div>
        {% elif session["dealerid6"] == session["user_id"] or session["admin"] == 1 %}
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody> 
                        {% for person in persons %}
                            <tr>
                                <td class="text-start">{{ person["name"] }}</td>
                                <td>    
                                    <form action="/addplayer" method="post">
                                        <input name="addid" type="hidden" value="{{ person["id"] }}">
                                        <input name="tableid" type="hidden" value="6">
                                        <button type="submit">Add</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="mainPage">
            <h1>Players</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>HP</th>
                        <th>Bounty</th>
                    </tr>
                </thead>
                <tbody>
                {% for player in players %}
                    <tr class="">
                        <td class="text-start">{{ player["name"] }}</td>
                        <td class="text-start">{{ player["hp"] }}</td>
                        <td class="text-start">{{ player["bounty"] }}</td>
                        <td>    
                            <form id="eliminationForm" action="/table6" method="post">
                                <input name="eliminated" type="hidden" value="{{ player["id"] }}">
                                <button type="submit" class="buttons">Eliminate</button>
                            </form>    
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                <button class="btn btn-primary" id="myBtn">Add Players</button>
            </div>
            <div>
                <form action="/checkout" method="post">
                    <input name="checkoutid" type="hidden" value="{{ session["user_id"] }}">
                    <button type="submit">Check Out</button>
                </form>
            </div>
        </div>
        {% else %}
            <div>
                You aren't authorized to access this page !
            </div>
        {% endif %}
    {% endif %}
          

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function() {
        modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
        modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }
    </script>

{% endblock %}